<section class="full-height" id="home">
    <div class="container">
        <div class="row ">
            <div class="col-12 text-light text-center">
                <h2 class="fw-bold fs-1 pb-2 text-uppercase" data-aos="fade-up">Hola soy un </h2>
                <h1 class=" text-uppercase font-monospace fw-bold fs-1" data-aos="fade-left" data-aos-delay="500">Jr
                    Full Stack Developer</h1>
                    <a href="#" class="btn btn-brand bg-info text-white" data-aos="fade-up" data-aos-delay="600">DOWNLOAD CV</a>
            </div>
            
        </div>
    </div>

</section>


