<section class="full-height" id="home">
    <div class="container mx-lg-auto ">
        <div class="row ">
            <div class="col-12 text-light text-center">
                <h2 class="fw-bold fs-1 pb-2" data-aos="fade-up">Hola soy <span class="text-info text-uppercase "
                        data-aos="fade-up" data-aos-delay="300">Colby V.</span> </h2>
                <h2 class=" text-uppercase font-monospace fw-bold " data-aos="fade-left" data-aos-delay="500">Jr
                    Full Stack Developer</h2>
            </div>
        </div>
    </div>
</section>

