#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.246), rgba(0, 0, 0, 0.545)), url("/assets/img/banner-img-final.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
}

