<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">
    <div class="container-fluid">

        <a class="navbar-brand " href="">
           <span><h1>VC</h1></span>
        </a>

        <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  m-auto primary">
                <li class="nav-item active ">
                    <a class="nav-link " routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/hero">Acerda de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/experienciaEducacion">Experiencias & Educacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/habilidad">Habilidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/proyecto">Proyecto</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
            <div class="ms-auto">
                <a class="nav-link bg-black" routerLink="/login" *ngIf="!isLogged"><i
                        class="fa-sharp fa-solid fa-right-to-bracket"></i> Iniciar Sesion </a>

                <a class="nav-link" routerLink="login" *ngIf="isLogged" (click)="onLogOut()"><i
                        class="fa-sharp fa-solid fa-right-to-bracket"></i> Cerrar Sesion</a>
            </div>

        </div>
    </div>
</nav>
<router-outlet></router-outlet>