<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">
    <div class="container-fluid">

        <a class="navbar-brand   " href="">
            <span class= >
                <h1 class="bg-light rounded-bottom rounded-3 p-1 text-info">VC</h1>
            </span>
        </a>

        <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs---bluePrimary--bluePrimary="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ms-auto primary">
                <li class="nav-item active ">
                    <a class="nav-link " routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/hero">Acerda de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/experienciaEducacion">Experiencias & Educacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/habilidad">Habilidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/proyecto">Proyecto</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
            <div class="dropdown ms-auto m">
                <a class="dropdown-toggle" href="#"  data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-sharp fa-solid fa-user fa-2x" style="color: var(--blue);"></i>
                </a>

                <ul class="dropdown-menu bg-dark">

                    <li>
                        <a class="nav-link bg-black dropdown-item" routerLink="/login" *ngIf="!isLogged">
                            <i class="fa-sharp fa-solid fa-right-to-bracket">

                            </i>
                            Iniciar Sesion
                        </a>
                    </li>


                    <li>
                        <a class="nav-link bg-black dropdown-item" *ngIf="isLogged" (click)="onLogOut()">
                            <i class="fa-sharp fa-solid fa-right-to-bracket"></i>
                            Cerrar Sesion
                        </a>
                    </li>

                </ul>
            </div>
            <div class="ms-auto">





            </div>

        </div>
    </div>
</nav>
<router-outlet></router-outlet>