<section id="Proyectos" class="full-height">
    <div class="container ">
        <div class="row ">
            <div class="col-12 text-center pb-5 mx-auto title">
                <h1 class="display-4 fst-normal text-uppercase" data-aos="fade-left" data-aos-delay="300">
                    Proyectos</h1>

                <app-agregar data-bs-toggle="modal" data-bs-target="#agregarProyectos"></app-agregar>


                <div class="line" data-aos="fade-up" data-aos-delay="500"></div>
            </div>
        </div>
        <div class="row gy-3" >
            <div class="col-lg-4 " data-aos="fade-up" *ngFor="let proyecto of proyectoList">
                <div class="proyecto-item">
                    <img [src]= 'proyecto.imgProject'  alt="tetris-foto" class="img-fluid">
                    <div class="proyecto-overlay">
                        <div class="mx-auto text-center">
                            <h2 class="display-4 fw-bold fs-3">{{proyecto.titleProject}}</h2>
                            <h6 class="text-primary fw-bold fs-5 ">{{proyecto.lenProject}}</h6>
                            <div>
                                <a [href]="proyecto.githubProject" class="text-white"><i
                                        class="fa-brands  fa-github">Ver en github</i></a>
                            </div>

                            <div class="text-center mx-auto  content">
                                <div class="editar">
                                    <app-editar></app-editar>
                                </div>
                                <div class="delete">
                                    <app-delete></app-delete>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mx-auto">
            <div class="col-12 text-center pt-5 rounded-4" data-aos="fade-up" data-aos-delay="600">
                <a href="https://github.com/cvertilus"
                    class="btn proyecto-btn bg-primary w-25  text-white fw-bold fs-3 btn-outline-none rounded-4 shadow-effect">Otros
                    Proyectos</a>
            </div>
        </div>
    </div>

</section>

<app-editar-proyectos [id]="'agregarProyectos'" [title]="'Agregar Proyectos'"  (datos)="agregarProyectos($event)"></app-editar-proyectos>