<section id="Proyectos" class="full-height">
    <div class="container ">
        <div class="row">
            <div class="col-12 text-center pb-5">
                <h1 class="display-4 fst-normal text-uppercase fw-bold" data-aos="fade-left" data-aos-delay="300">
                    Proyectos</h1>
                <div class="line" data-aos="fade-up" data-aos-delay="500"></div>
            </div>
        </div>
        <div class="row gy-3">
            <div class="col-lg-4 "data-aos="fade-up">
                <div class="proyecto-item">
                    <img src="img/tetris.png" alt="tetris-foto" class="img-fluid">
                    <div class="proyecto-overlay" >
                            <div  class="mx-auto text-center">
                            <h2 class="display-4 fw-bold fs-3">TETRIS</h2>
                            <h6 class="text-primary fw-bold fs-5 ">Python</h6>
                            <div>
                            <a href="https://github.com/cvertilus/Tetris.git" class="text-white"><i class="fa-brands  fa-github" >Ver en github</i></a></div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 "data-aos="fade-up" data-aos-delay="300">
                <div class="proyecto-item">
                    <img src="img/tetris.png" alt="tetris-foto" class="img-fluid">
                    <div class="proyecto-overlay" >
                            <div  class="mx-auto text-center">
                            <h2 class="display-4 fw-bold fs-3">TETRIS</h2>
                            <h6 class="text-primary fw-bold fs-5 ">Python</h6>
                            <div>
                            <a href="https://github.com/cvertilus/Tetris.git" class="text-white"><i class="fa-brands  fa-github" >Ver en github</i></a></div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 "data-aos="fade-up" data-aos-delay="500">
                <div class="proyecto-item">
                    <img src="img/tetris.png" alt="tetris-foto" class="img-fluid">
                    <div class="proyecto-overlay" >
                            <div  class="mx-auto text-center">
                            <h2 class="display-4 fw-bold fs-3">TETRIS</h2>
                            <h6 class="text-primary fw-bold fs-5 ">Python</h6>
                            <div>
                            <a href="https://github.com/cvertilus/Tetris.git" class="text-white"><i class="fa-brands  fa-github" >Ver en github</i></a></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col-12 text-center pt-5 rounded-4" data-aos="fade-up" data-aos-delay="600">
                <a href="https://github.com/cvertilus" class="btn proyecto-btn bg-primary w-25  text-white fw-bold fs-3 btn-outline-none rounded-4 shadow-effect">Otros Proyectos</a>
            </div>
        </div>
    </div>

</section>
