<app-nav-bar></app-nav-bar>
<section class="home full-height">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ">
                <h1>
                    Hola soy <span class="text-info text-underline text-uppercase">{{nombre}} </span>
                </h1>
                <h3>
                    <span class=" text-decoration-underline text-uppercase fs-2 text-white">Full stack developer
                        Jr.</span>
                </h3>

            </div>
            <div class=" col-lg-4">
                <button class="btn btn-primary  h-50 w-100 my-2  fw-bold" routerLink="/contact">Contact</button>
                <a class="btn btn-info h-50 w-100 fw-bold text-wrap" href="/assets/img/colbyvertilusCV.pdf" download>Download CV</a>
            </div>
        </div>
    </div>
</section>
