.proyecto{
    background-image: linear-gradient(rgba(29, 30, 30, 0.246), rgba(137, 168, 190, 0.545),rgba(3, 48, 81, 0.545));
}
.proyectoItem{
    position: relative;
    overflow: hidden;
}
.img{
    width: 100%;
    height: 100%;
}

.overlay{
    transition: all 0.5s ease-in-out;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(40, 165, 179), rgba(68, 195, 193, 0.9),rgba(8, 92, 156, 0.545)) !important;
    align-items: center;
    opacity: 0;
    padding-top: 20px;
  
}

.proyectoItem:hover > .overlay{
    opacity: 1;
}
