<div class="modal fade" id="{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                <button type="button" class=" btn btn-close btn-danger" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body bg-primary">
                <form class="form-control mb-0 pt-3" [formGroup]="formulario" (ngSubmit)="onEnviar(formulario.value)">

                    <div class="mb-3">
                        <label for="nombreEstablecimiento" class="form-label">Nombre Establecimiento</label>
                        <input type="text" class="form-control" id="nombreEstablecimiento"
                            formControlName="nombreEstablecimiento" value={{item?.nombreEstablecimiento}}>
                    </div>

                    <div class="mb-3">
                        <label for="puestoTrabajo" class="form-label">Puesto de Trabajo </label>
                        <input type="text" class="form-control" id="puestoTrabajo" formControlName="puestoTrabajo"
                            value={{item?.puestoTrabajo}}>
                    </div>

                    <div class="mb-3">
                        <label for="Fecha de Inicio" class="form-label">Fecha de Inicio </label>
                        <input type="date" class="form-control" id="fechaInicio" formControlName="fechaInicio"
                            value={{item?.fechaInicio}}>
                    </div>

                    <div class="mb-3">
                        <label for="Fecha de Finalizacion" class="form-label">Ultimo dia de trabajo</label>
                        <input type="date" class="form-control" id="fechaFinalizacion"
                            formControlName="fechaFinal" value={{item?.fechaFinal}}>
                    </div>

                    <div class="mb-3">
                        <label for="urlInstitucion" class="form-label">Direccion del Establecimiento </label>
                        <input type="url" class="form-control" id="institucionUrl" formControlName="direccion"
                            value={{item?.direccion}}>
                    </div>

                    <div class="pt-2">
                        <button class="btn btn-success w-100" [disabled]="formulario.invalid" type="submit"
                            data-bs-dismiss="modal" aria-label="Close">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>