<app-nav-bar></app-nav-bar>
<section class="full-height mt-lg-3">
    <div class="container">
        <div class="row pb-4">
            <div class="col-12 ">
                <h1 class=" text-center text-primary text-uppercase fw-bold">
                    {{title}}
                </h1>
                <div class="line"></div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <app-experencia></app-experencia>
            </div>
            <div class="col-lg-6">
                <app-educacion></app-educacion>
            </div>
        </div>
    </div>

</section>