

.bg-black{
    background-color:rgba(25, 0, 25, 25);
}

.letras-nor{
    filter: invert(.1);
     -webkit-filter:invert(.1) ;
     -moz-filter:invert(-1);
}

.navbar{
    width: 100%;
}
.nav-item{
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.45ms;
    font-size: 19px;
}

.nav-item .nav-link:hover{
   color:var(--blue) !important;
}


.nav-item >.nav-link.active {
    color:var(--blue) !important;

}

.list-group > .list-group-item{
    background:transparent;
    border: none;
    overflow: hidden;
}

.fa-brands:hover ,.fa-solid:hover{
    color: var(--bluePrimary) !important;
}


.navbar-toggler{
    border-color: black;
    border: 2rem solid black;
}
