<nav class="navbar navbar-expand-lg navbar-light bg-black sticky-md-top sticky-sm-top">
    <div class="container-fluid flex-lg-column">
        <a class="text-center text-decoration-none navbar-brand" href="#">
            <img [src]="profile" class="img-fluid mb-3 rounded-2 border-primary d-none d-lg-block " alt="profile"
                width="500px" height="500px">

            <span class="h-3  text-info  mt-5 fw-bold fs-4 text-uppercase">Colby vertilus</span>
        </a>
        <button class="navbar-toggler  bg-info" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon  "></span>
        </button>

        <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
            <app-social-media ></app-social-media>
            <app-nav-link ></app-nav-link>
        </div>

        <a class="mt-lg-5">
            <img [src]="logo" alt="logo-Argentina-Programa" width="50" height="50"
                class="d-inline-block align-text-top w-100 letras-nor">
        </a>

    </div>
</nav>