/* nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */


.bg-black{
    background-color:rgba(25, 0, 25, 25);
}

.letras-nor{
    filter: invert(.1);
     -webkit-filter:invert(.1) ;
     -moz-filter:invert(-1);
}


.navbar-toggler{
    border-color: white;
    border: 2rem solid white;
}