<!--
    interpolation
    ejemplo cuando declaras un variable en el archivots y lo llamas en el archivo html
-->
<h1>Welcome to {{hotelName}}</h1>

<!--
    Property bindind and event bindin
-->
<div [hidden]="hiddenRoomsNumbers">
    <h5>Numbers Of Rooms</h5>
    <div [innerText]="numbersOfRooms"></div>
</div>
<!-- 
    Derectives
    *ngfor , *ngIf  , ngclass
-->
<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>
<!--
    pipes
    podemos usar pipes para tranformar los datos
    no cambia el objeto actual 
-->
<div *ngIf="rooms.availableRooms > 0">
    <app-rooms-list [rooms]="roomslist" (selectedRoom)="roomSelected($event)"></app-rooms-list>
</div>
<!--
    cuando hacen click en el button llamara a la funciono toogle que hemos declarado en el archivo ts seria event bidind

-->
<button class="btn btn-danger pt-2 mt-4" (click)="toggle()">Toogle</button>

