* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0dcaf0;
    --bluePrimary: #0d6efd;

}

.line {
    width: 25%;
    height: 5px;
    background-color: blue;
    margin: 16px auto 24px auto;
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 5px solid var(--blue);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -8px 8px 0px 0px var(--bluePrimary);
}

body {
    background-color: #adebf8 !important;
   
}



