<!--EditarAgergarModal-->
<div class="modal fade" id="{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                <button type="button" class=" btn btn-close btn-danger" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body bg-primary">
                <form class="form-control mb-0 pt-3" [formGroup]="Formulario" (ngSubmit)="onEnviar(Formulario.value)">
                    <div class="mb-3  ">
                        <label for="lenguaje" class="form-label">Lenguaje</label>
                        <input type="text" class="form-control" id="esta" formControlName="lenguaje"  value={{item?.establecimiento}}>
                    </div>

                    <div class="mb-3  ">
                        <label for="porcentaje" class="form-label">Porcentaje</label>
                        <input type="number" class="form-control" id="porcentaje " formControlName="lenguaje" min="20" max="100">
                    </div>


                    <div class="pt-2">
                        <button class="btn btn-success w-100" [disabled]="Formulario.invalid" type="submit" data-bs-dismiss="modal" aria-label="Close">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>