<section id="experiencias" class="full-height">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center pb-5">
                <h1 class="display-4 fst-normal  fw-bold" data-aos="fade-left" data-aos-delay="300"> Mi Educacion &
                    Experencias</h1>
                <div class="line" data-aos="fade-up" data-aos-delay="500"></div>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-6">
                <h4 class="display-6 fw-bold" data-aos="fade-left" data-aos-delay="300">
                    Educacion</h4>
                <div class="row gy-4">
                    <div class="col-12">
                        <div class="card bg-info border-0 shadow-effect" style="border-radius:10px"
                            data-aos="fade-up" data-aos-delay="800">

                            <img src="img/logo_uba.gif" class="card-img-top" alt="logo-uba"
                                style="border-radius:10px">


                            <div class="card-body">
                                <h1 class="card-title">Universidad de Buenos Aires</h1>
                                <p class="card-text">Cursando la carrera <br> <strong>Analista de sistemas</strong>
                                </p>
                                <a href="https://www.uba.ar/contenido/287" class="btn btn-primary">Visitar sitio
                                    web</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card bg-info border-0 shadow-effect" style="border-radius:10px"
                            data-aos="fade-up" data-aos-delay="1000">
                            <img src="img/utn-logo.jpg" class="card-img-top " alt="logo-utn"
                                style="border-radius:10px">
                            <div class="card-body">
                                <h1 class="card-title">Universidad Tecnologia Nacional</h1>
                                <p class="card-text">Cursando<br> <strong>Desarollador en Java</strong> </p>
                                <a href="https://utn.edu.ar/es/" class="btn btn-primary">Visitar sitio web</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <h4 class="display-6 fw-bold" data-aos="fade-left" data-aos-delay="300">
                    Experiencias</h4>
                <div class="col-12">
                    <div class="card bg-info border-0 shadow-effect" style="border-radius:10px"
                        data-aos="fade-up" data-aos-delay="700">
                        <img src="img/lkd.png" class="card-img-top " alt="logo-uba" style="border-radius:10px; height: 220px;" >
                        <div class="card-body">
                            <h1 class="card-title">Soporte Tecnico</h1>
                            <p class="card-text">Oct 2019 - actualidad <br> <strong>Don Bosco</strong> </p>
                            <a href="http://lkdfibra.com/" class="btn btn-primary">Visitar sitio web</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
