<section id="experiencias" class="full-height" routerLink="/experiencias">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center pb-5" data-aos="fade-left" data-aos-delay="300">
                <h1 class="display-4 fst-normal  fw-bold"> {{title}}</h1>
                <div class="line" data-aos="fade-up" data-aos-delay="500"></div>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="container d-inline-flex ">
                    <h4 class="display-6 fw-bold me-auto" data-aos="fade-left" data-aos-delay="300">
                        {{educacionTitle}}</h4>
                    <app-agregar data-bs-toggle="modal" data-bs-target="#agregarEducacion"></app-agregar>

                </div>

                <div class="row gy-4">
                    <div class="col-12" *ngFor="let educacion of educacionList">
                        <div class="card bg-info border-0 shadow-effect" style="border-radius:10px" data-aos="fade-up"
                            data-aos-delay="800">

                            <img [src]="educacion.logo" class="card-img-top" alt="logo-uba"
                                style="border-radius:10px;height:30%">


                            <div class="card-body">
                                <h1 class="card-title">{{educacion.establecimiento}}</h1>
                                <p class="card-text">Cursando la carrera <br> <strong>{{educacion.carrera}}</strong>
                                </p>
                                
                            </div>
                            <div class="overlay">
                                <div class="text-center mx-auto  content">
                                    <div class="editar">

                                        <app-editar data-bs-toggle="modal" data-bs-target="#editarEduacion"
                                            (click)="obtenerDatosEducacion(educacion)">
                                        </app-editar>

                                    </div>
                                    <div class="delete">
                                        <app-delete (click)="onDelete(educacion)"></app-delete>
                                    </div>
                                </div>
                                <a [href]="educacion.sitioWeb" class="btn btn-primary sitioweb">Visitar sitio
                                    web</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="container d-inline-flex " data-aos="fade-left" data-aos-delay="300">
                    <h4 class="display-6 fw-bold me-auto">
                        {{experianciasTitle}}</h4>
                    <app-agregar data-bs-toggle="modal" data-bs-target="#agregarExperiencias"></app-agregar>
                </div>
                <div class="row gy-4">
                    <div class="col-12" *ngFor="let experiencia of experienciasList">
                        <div class="card bg-info border-0 shadow-effect text-center" style="border-radius:10px" data-aos="fade-up"
                            data-aos-delay="700">
                            <h3 class="pt-1">{{experiencia.puesto}}</h3>
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>{{experiencia.empresa}}</strong>
                                    ({{experiencia.desde}} /
                                    {{experiencia.hasta}} )<br>

                                    {{experiencia.adress}}
                                </p>

                                
                            </div>
                            <div class="overlay">
                                <div class="text-center mx-auto  content">
                                    <div class="editar">
                                        <app-editar data-bs-toggle="modal" data-bs-target="#editarExperiencias"
                                            (click)="obtenerDatosExperiencias(experiencia)"></app-editar>
                                    </div>
                                    <div class="delete">
                                        <app-delete (click)="eliminarExperiencia(experiencia)"></app-delete>
                                    </div>
                                   
                                </div>
                                <a [href]="experiencia.sitioWeb" class="btn btn-primary">Visitar sitio web</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<app-editar-educacion [item]="modificarEducacion" [title]="'Editar Eduacion'" [id]="'editarEduacion'" [guardar]="true"
    (editar)="editarEduacion($event)"></app-editar-educacion>
<app-editar-educacion [title]="'Agregar Educacion'" [id]="'agregarEducacion'"
    (editar)="agregarEducacion($event)"></app-editar-educacion>


<app-editar-experiencias [id]="'agregarExperiencias'" [title]="'Agregar una experiencia'"
    (editar)="agregarExperiencia($event)"></app-editar-experiencias>

<app-editar-experiencias [item]="modificarExperiencia" [id]="'editarExperiencias'" [title]="'Editar una experiencia'"
    (editar)="EditarExperiencia($event)" [guardar]="true"></app-editar-experiencias>