<!-- Modal -->
<div class="modal fade" id="{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true
  ">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info ">
                <h1 class="modal-title fs-1 fw-bolder fw-16" id="exampleModalLabel">{{title}}</h1>
                <button type="button" class="btn-close  bg-warning" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-info-subtle fs-5 fw-bolder">
                <form [formGroup]="editarForm" (ngSubmit)="onGuardar(editarForm.value) ">

                    <div class="mb-3 text-uppercase ">
                        <label for="establecimiento" class="form-label">Lugar de estudio</label>
                        <input type="text" class="form-control" id="esta" formControlName="establecimiento"  value={{item?.establecimiento}}>
                    </div>

                    <div class="mb-3">
                        <label for="logo" class="form-label">Logo</label>
                        <input type="text" class="form-control" id="logo" formControlName="logo" value={{item?.logo}}>
                    </div>

                    <div class="mb-3">
                        <label for="Carrea" class="form-label"> Carrera</label>
                        <input type="text" class="form-control" id="logo" formControlName="carrera" value={{item?.carrera}}>
                    </div>

                    <div class="mb-3">
                        <label for="web" class="form-label">Sitio Web</label>
                        <input type="text" class="form-control" id="logo" formControlName="sitioweb" value={{item?.sitioWeb}}>
                    </div>

                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-danger w-50 m-2" data-bs-dismiss="modal">Cerrar</button>
                        <button *ngIf="guardar" type="submit" class="btn btn-success w-50 m-2" data-bs-dismiss="modal">Guardar</button>

                        <button  *ngIf="!guardar"  type="submit" class="btn btn-success w-50 m-2" [disabled]="editarForm.invalid" data-bs-dismiss="modal">Agregar</button>
                    </div>

                </form>

            </div>
            
        </div>
    </div>
</div>