            <!--link-->
            <ul class="navbar-nav  mb-2 mb-lg-0 p-2">
                <li class="nav-item font-monospace">
                    <a class="nav-link  active text-light"  href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#acerca-de-mi">Acerca de ..</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#experiencias">Experiencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#Proyectos">Proyectos</a>
                </li>
            </ul>