.nav-item{
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.45ms;
    margin-bottom: 5px;
    font-size: 19px;
}

.nav-item .nav-link:hover{
   color:var(--blue) !important;
}


.nav-item >.nav-link.active {
    color:var(--blue) !important;

}
