<section class="full-height aboutMe">
    <div class="container ">
        <div class="row m-3">
            <div class="col-lg-12 text-center text-uppercase text-primary fw-bold ">
                <h1>{{title}}</h1>
                <div class="line"></div>
            </div>
        </div>

        <div class="row datos">
            <div class="col-lg-4 foto">
                <img [src]=hero.img_src alt="" class="img-fluid">
                <div class="editar pt-3">
                    <app-button-editar data-bs-toggle="modal" data-bs-target="#editarFoto" class="me-2">
                    </app-button-editar>
                    <app-button-eliminar (click)="eliminarFoto()"></app-button-eliminar>

                </div>

            </div>
            <div class="col-lg-8 text-center pt-5 aboutme">
                <span class=" fw-bold fs-6  overflow-scroll ">{{hero.about_me}}</span>
                <div class="editar pt-3">
                    <app-button-editar data-bs-toggle="modal" data-bs-target="#editarAboutMe" class="me-2">
                    </app-button-editar>
                    <app-button-eliminar (click)="eliminarAboutMe()"></app-button-eliminar>
                </div>

            </div>

        </div>
    </div>
</section>

<app-editar-hero-about-me [id]="'editarFoto'" [title]="'Editar Foto Perfil'" [foto]='true'
    (datosIngresado)="editarFotoHero($event)"></app-editar-hero-about-me>
<app-editar-hero-about-me [id]="'editarAboutMe'" [title]="'Editar About Me'" [aboutMe]='true' [item]="hero"
    (datosIngresado)="editarAboutMeHero($event)"></app-editar-hero-about-me>