<section id="skills" class="full-height">
    <div class="container ">
        <div class="row">
            <div class="col-12 text-center pb-5">
                <h1 class="display-4 fst-normal text-uppercase fw-bold" data-aos="fade-left" data-aos-delay="300">
                    Skills</h1>
                <app-agregar data-bs-toggle="modal" data-bs-target="#agregarSkill" data-aos="fade-up"
                    data-aos-delay="500"></app-agregar>
                <div class="line" data-aos="fade-up" data-aos-delay="500"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 pb-3">
                <img src="/assets/img/Skills.jpg" alt="skills-img" class="img-fluid rounded-circle"
                    style="height: 100% ;border:5px solid blue" data-aos="fade-right" data-aos-delay="700">
            </div>

            <div class="col-lg-8">
                <div class="skill-content" *ngFor="let skill of skillList" data-aos="fade-left" data-aos-delay="800">
                    <div class="progress mb-3 me content" style="height: 35px ; width: 100%">
                        <div class="bg-info text-center fw-bold pt-2" style="width:20%">{{skill.lenguajeSkill}}</div>
                        <div class="progress-bar progress-bar-striped align-items-end" role="progressbar"
                            [ngStyle]="{'width':skill.porcentaje -20 + '%'}" aria-valuemin="0" aria-valuemax="100">
                            {{skill.porcentaje}}%</div>
                    </div>
                    <div class="skill-overlay">
                        <app-editar data-bs-toggle="modal" data-bs-target="#editarSkill"
                            (click)="obtenerDatos(skill)"></app-editar>
                        <app-delete (click)="eliminarSkill(skill)"></app-delete>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<app-modificar-skill [id]="'editarSkill'" [title]="'Editar Skill'" [item]="datoClick" (datos)="editarSkill($event)"
    [guardar]="true"></app-modificar-skill>
<app-modificar-skill [id]="'agregarSkill'" [title]="'Agregar Skill'"
    (datos)="agregarSkill($event)"></app-modificar-skill>